@using EntityLayer.Concrete
@model List<Comment>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"><a href="/Admin/Dashboard/Index">Dashboard</a></span>/ Yorumlar</h4>
    <div class="card">
        <h5 class="card-header">Yorumlar</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>KULLANICI</th>
                        <th>ROTA</th>
                        <th>TARİH</th>                       
                        <th>SİL</th>                        
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.CommentId</td>
                            <td>@item.AppUser.Name @item.AppUser.Surname</td>
                            <td>@item.Destination.City</td>
                            <td>@item.CommentDate.ToString("dd MMM yyyy - HH:mm")</td>
                            <td><a href="/Admin/Comment/DeleteComment/@item.CommentId" class="btn btn-outline-danger">Sil</a></td>                            
                        </tr>
                    }
                </tbody>
            </table>
            <br />            
        </div>
    </div>
</div>
